# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

./bin/*
./example/simple/Debug
./example/simple/Release
./project/RocketMQClient.vcxproj.user
./test/benchmark/Producer.vcxproj.user
./test/benchmark/Debug/*
*.sdf
