# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

example/simple/Debug/
example/simple/Release/
test/benchmark/Debug/
*.sdf
*.obj
*.tlog
*.user
*.rc;
*.manifest
*.res
*.manifest
*.idb
*.suo
*.pdb
bin/

libs/jsoncpp/lib/json_vc2010_libmtd.lib
*.opensdf
